:root{
--bool-body-bg-color: black;
--bool-tag-bg-color: rgba(128, 128, 128, 0.507);
--bol-disconnect-color: red;
--bol-disconnect-bg-color: Gray;
--bool-footer-bg-color: rgb(37, 33, 33);
}

/* #region common */
*{
    margin: 0;
}

body{
    background-color: var(--bool-body-bg-color);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

}

img {
    max-width: 100%;
    height: 100%;
}

span{
    display: flex;
}

/* #endregion */

/* #region utility */

/* #endregion */

/* #region main */

.view{
    display: flex;
    justify-content: end;
    font-size: 1rem;
    padding: 1% 0;
}
.speaker-view{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: gray;
    margin-right: 0.5rem;
    color: white;
    padding: 0.3rem;
    border-radius: 5px;
}

.full-screen{
    display: flex;
    align-items: center;
    background-color: gray;
    margin-right: 0.5rem;
    color: white;
    padding: 0.2rem;
    border-radius: 5px;
    
}

.main-container{
    margin: 0 10vh 0 10vh;
    display: flex;
    flex-wrap: wrap;
    max-height: 80vh;
    overflow: auto;
    gap: 1px;
}

.slot{
    position: relative;
    width: calc((100% / 7) - 1px);
    max-height: calc((100% / 5) - 15px);
}

.tag{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: large; 
    display: flex;
    background-color: var(--bool-tag-bg-color);
    color: white;

}

.name{}
    

/* #endregion */

/* #region footer */

footer{
    background-color: var(--bool-footer-bg-color);
    width: 100%;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.footer-img{
    display: flex;
    flex-flow: column;
    align-items: center;
    color: white;
}

.footer-container{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1REM;
}

.footer-disconnect{
    color: var(--bol-disconnect-color);
    background-color: var(--bol-disconnect-bg-color);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}


/* #endregion */
